[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pylint = "*"
scrapy = "*"
pytest = "*"
requests = "*"
sqlalchemy = "*"
dash = "*"
dash-table = "*"
dash-bootstrap-components = "*"
pandas = "==0.23.4"

[dev-packages]

[requires]
python_version = "3.7"
